body{
    background-color: #000000;
    font-family: Arial, Verdana;
    color: #ffffff;
    margin: 20px 20px 0 20px;
}

h1{
    font-size: 42px;
    padding: 15px;
    text-align: center;
}

h2{
    font-size: 30px;
    color: #0D0D0D;
}

p{
    font-size: 24px;
    padding: 10px 0 0 10px;
}

img{
    display: block;
    margin: 0 auto;
    width: 250px;
    border: dashed 10px #ffffff;
}

div{
    min-height: 125px; /* Minimum height */
    height: auto; /* Allows the element to expand as needed */
    padding: 20px;
    border: solid 3px #ffffff
}

.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2; /* double spaced text */
    /* justify-content: center; */
}

.red{
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-style: solid;
    border-width: 0 0 2px 5px;
    border-color: #ffffff;
}

.blue{
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-style: solid;
    border-width: 2px 5px 0 0;
    border-color: #ffffff;
}

.blue h2, .blue p{
    color: #C4C4C4;
}

.yellow{
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-style: solid;
    border-width: 0 0 2px 5px;
    border-color: #ffffff;
}

.yellow p{
    color: #707070;
}

.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-style: solid;
    border-width: 2px 5px 0 0;
    border-color: #ffffff;
}

footer{
    background-image: linear-gradient(to right, #000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%);
    border: solid 5px #ffffff;
}

footer p{
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0;
}
